.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-color: fuchsia;
  margin: 10px auto;
  vertical-align: middle;
}

.btn-back {
  background-color: fuchsia;
  color: white;
  margin-right: auto;
}

.keys-section h2 {
  color: fuchsia;
  font-weight: bold;
  margin: auto;
}

.apple{
  position: relative;
  margin-top: 15px;
  width: 62px;
  height: 60px;
  border-radius: 90% 90% 100% 100% / 90% 100% 100% 100%;
  background: #FD3924;
  box-shadow: 
      2px -4px   3px   0 #AE3C2A inset,
      1px    0   1px   0 #B5553F inset,
      2px    0   2px 2px #D88363 inset,
    -6px  1px  25px 3px #F9F8F7 inset,
    -3px  4px  10px   0 #000;
  }
  
/* Leafs */
.apple:before{
  position: absolute;
  top: -5px;
  left: 51%;
  content: "";
  display: inline-block;
  width: 20px;
  height: 6px;
  border-radius: 60% 0 100% 0 / 100% 0 100% 0;
  background: #4E8920;
  transform: rotate(-5deg);
}
  
/*　Stick　*/
.apple:after{
  position: absolute;
  top: -15px;
  left: 50%;
  content: "";
  display: inline-block;
  width: 3px;
  height: 8px;
  border: 5px solid transparent;
  border-top: 10px solid #9A7229;
  border-right: 8px solid #470800;
  border-radius: 100% 100% 0 0;
  transform: translateX(-75%);
}
  
#display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.value-display {
  border: black;
  min-height: 225px;
  height: auto;
  border-style: solid;
}

.Answer-section {
  border-style: solid;
  border-color: Blue;
  width: 680px;
  min-height: 500px;
}

.Answer-section h3 {
  color: blue;
}

.value-display ul {
  text-align: left;  
}

.value-display li {
  display: inline-block;
}

.Value1-section {
  width: 350px;
}

.Value2-section {
  width: 350px;
}

.sub-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.btn {
  font-size: 24px;
  border: 0.5px solid;
  border-color: white;
}

.pads-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

#calkey {
  width: 350px;
}

.calpad {
  height: 50px;
  width: 50px;
}

#cal {
  width: 100px;
  height: 100px;
}

.keypad {
  height: 50px;
  width: 50px;
}

#key {
  width: 250px;
  height: 100px;
}

#calkey div{
  display: inline-block;
}

#other {
  width: 350px;
}

.clearpad {
  height: 50px;
  width: 150px;
}

.enterpad {
  height: 50px;
  width: 200px;
}

@media (max-width: 770px) {
  .btn-back {
    font-size: 20px;
    height: 40px;
  }
  
  .keys-section h2 {
    font-size: 20px;
    margin: auto;
  }
  
  .value-display {
    min-height: 80px;
    min-width: 325px;
  }
  
  .value-display h3 {
    font-size: 18px;
  }

  .Value1-section {
    width: 100%;
  }

  .Value2-section {
    width: 100%;
  }

  .equal-section {
    top: -20px;
  }

  .Answer-section {
    margin-top: -40px;
    width: 80%;
    min-height: 250px;
  }

  .apple{
    margin-top: 7px;
    width: 31px;
    height: 30px;
  }
  
  /* Leaf */
  .apple:before{
    top: -5px;
    left: 51%;
    width: 10px;
    height: 6px;
  }
  
  /*　Stick　*/
  .apple:after{
    top: -5px;
    left: 50%;
    width: 2px;
    height: 8px;
    border-top: 5px solid #9A7229;
    border-right: 4px solid #470800;
  }
}