.Cursor {
  opacity: 0;
}

.landing-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  min-height: 500px;
  height: 500px;
}

.landing-section h1 {
  color: fuchsia;
  font-weight: bold;
}

.landing-section h4 {
  color: fuchsia;
}

.landing-section form input {
  height: 60px;
  font-size: 30px;
}

.landing-section form input.submit-button {
  color: white;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
	-webkit-appearance: none;
  border: solid 1px pink;
  box-shadow: 3px 3px pink;
  transition: 0.2s;
  background-color: fuchsia;
}

.landing-section form input.submit-button:hover {
  background-color: orange;

}

.landing-section form input.submit-button:active {
  transform: translateY(2px);
}